.hello {
  background-color: #efefef;
  border: 1px solid #dedede;
}

.grocery-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
.grocery-list {
  list-style-type: none;
  margin: 0;
}

li.item {
  width: 100%;
  height: 100px;
  flex: none;
  background-color: rgb(181, 181, 255);
}

.content {
  width: 1080px;
  margin: auto;
  justify-content: space-around;
}

@media all and (max-width: 1080px) {
  .content {
    width: 100%;
  }
  html {
    font-size: 150%;
  }
  li.item {
    margin:10px 0;
    height: 160px;
  }
}


